page-scan {
    .qrscanner {
        background: none;
        &-area {
          width: 100%;
          height: 100%;
          background: url(../assets/imgs/scanner.svg) no-repeat center center;
          background-size: contain;
        }
      }
      .through-line {
        left: 25%;
        width: 50%;
        height: 2px;
        background: red;
        position: absolute;
        animation: myfirst 2s linear infinite alternate;
      }
      @keyframes myfirst {
        0% {
          background: red;
          top: 30%;
        }
        25% {
          background: yellow;
          top: 35%;
        }
        50% {
          background: blue;
          top: 40%;
        }
        75% {
          background: green;
          top: 45%;
        }
        100% {
          background: red;
          top: 50%;
        }
      }
      .button-bottom {
        width: 128px;
        position: absolute;
        left: 50%;
        bottom: 80px;
        margin-left: -64px;
        .icon-camera {
          float: left;
        }
    }
}
    ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
        background: transparent none !important; 
        .tabbar.show-tabbar{
          opacity: 0;
        }
        // 隐藏所有页面
        //  ion-nav, ion-tab, ion-tabs {
        //   opacity: 0 !important;
        // }
      }
