<ion-header >
  <ion-navbar >
      <ion-title>Scanning</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-scroll [ngClass]="{'qrscanner':isShow}" >
  <div [ngClass]="{'qrscanner-area':isShow}">    
  </div> 
   <div  [ngClass]="{'through-line':isShow}"></div>
  <!-- <div class="button-bottom">
      <button (click)="toggleLight()" ion-fab class="icon-camera" margin-right>
          <ion-icon name="flash"></ion-icon>                  
      </button>
      <button (click)="toggleCamera()" ion-fab class="icon-camera">
          <ion-icon name="reverse-camera"></ion-icon>                  
      </button>
  </div>     -->
</ion-content>
<ion-footer>
  <div>
    <ion-item>
      <ion-label>Scanned Carton ID</ion-label>
      <ion-input [(ngModel)]="sannedID" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Scanned Carton</ion-label>
      <ion-input [(ngModel)]="viewScannedNum" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Total Carton</ion-label>
      <ion-input [(ngModel)]="totalNum" readonly></ion-input>
    </ion-item>
    <button ion-button color="primary" block (click)="complete()">Complete</button>
  </div>

</ion-footer>