<!--
  Generated template for the ContinueMyJobPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ContinueMyJob</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-list *ngFor="let job of lpSearchState.paramJobList">
      <ion-item (click)='continue(job)'>
        <ion-label style="word-break:break-all">{{job.lpName}}</ion-label>
        <ion-label style="text-align: right;">
          {{job.scannedNum}} / {{job.totalNum}}
        </ion-label>
      </ion-item>
    </ion-list> 

</ion-content>
