<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My customer profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let profile of profileListView">
    <ion-item  (click)="forward(profile)">
      <ion-label>{{profile}}</ion-label>
      <ion-label style="text-align: right;">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list> 
  <!-- <ion-list>
    <ion-item  (click)="forward()">
      <ion-label>{{client}}</ion-label>
      <ion-label style="text-align: right;">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
