page-home {

    .container{
        // background: skyblue;
    }
    .mainMenu{
        margin-top: 30px;
        text-align: center;
    }
    .selection{
        // margin-top: 1%;
        height: 180px;
    }

}
