<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Maersk</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="container">
  <div class="mainMenu">
    <div class="selection">
      <img src="../assets/imgs/PreValidation.png" (click)="syncProfile()"/>
      <div>
        Pre-validation Scan
      </div>
    </div>
    <div class="selection">
      <img src="../assets/imgs/OfflineScan.png"/>
      <div>
        Offline Scan
      </div>
    </div>
    <div class="selection">
      <img src="../assets/imgs/ContinueJob.png" (click)='continueMyJob()'/>
      <div>
        Continue My Job
      </div>
    </div>
  </div>
</ion-content>