<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="head">
      <div class="titleHead">
        <ion-title style="margin-top:15px;">Scan</ion-title>
      </div>
      <div class="iconhead">
        <ion-label style="text-align: right;">
          <ion-icon (click)="backHome()" name="home"></ion-icon>
        </ion-label>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-list>
      <ion-item>
        <ion-label>Profile</ion-label>
        <ion-input value={{client}} readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>TYPE</ion-label>
        <ion-input value="Receiving" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>SO</ion-label>
        <ion-input [(ngModel)]="this.lpSearchState.soNumber" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>PO</ion-label>
        <ion-input [(ngModel)]="this.lpSearchState.poNumber" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>SKU</ion-label>
        <ion-input [(ngModel)]="this.lpSearchState.sku"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div style="font-size: 3em; text-align: center; margin-top:60px ;">
    <ion-icon (click)="scanCatonId()" name="camera"></ion-icon>
  </div>
  <div style="text-align: center;"> 
    Scan Carton ID
  </div>

</ion-content>