page-pre-scan {
    .head{
        display: flex;
        justify-content: space-between;

    }
    .titleHead{
        // flex-direction: row;
        vertical-align: middle;
    }
    .iconhead{
        // flex-direction: row;
        font-size: 1.5em; 
    }

}
