<!--
  Generated template for the LpSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="head">
      <div class="titleHead">
        <ion-title style="margin-top:15px;">LP Search</ion-title>
      </div>
      <div class="iconhead">
        <ion-label style="text-align: right;">
          <ion-icon (click)="backHome()" name="home"></ion-icon>
        </ion-label>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]="myGroup" (submit)="doSubmit()">
  <ion-list>
    <ion-item>
      <ion-label>Profile</ion-label>
      <ion-input value= {{client}} readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>LP Mode</ion-label>
      <ion-input value="Detail View" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>PO</ion-label>
      <ion-input type="text"  formControlName="poNumber" name="poNumber"></ion-input>
    </ion-item>
    <div style="margin-left: 20px; color: red;" *ngIf="formErrors.poNumber">
      {{formErrors.poNumber}}
    </div>
    <ion-item>
      <ion-label>SO</ion-label>
      <ion-input type="text" formControlName="soNumber" name="soNumber"></ion-input>
    </ion-item>
    <div style="margin-left: 20px; color: red;" *ngIf="formErrors.soNumber">
      {{formErrors.soNumber}}
    </div>
    <ion-item>
      <ion-label>SKU</ion-label>
      <ion-input type="text"  formControlName="sku" name="sku"></ion-input>
    </ion-item>
    <div style="margin-left: 20px; color: red;" *ngIf="formErrors.sku">
      {{formErrors.sku}}
    </div>
  </ion-list>
  <button ion-button>Generate</button>
</form>
<!-- <button ion-button color="primary" block>Generate</button> -->

</ion-content>